body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  background-color: #dedede;
  padding: 0 2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding-bottom: 15px;
}

.form-heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: #212427;
  line-height: 1.222;
}

.form-container {
  max-width: 35rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}

.form-group {
   margin-bottom: 1rem;
}

.form-group label {
	color: #212427;
    font-weight: 500;
}

.form-group input[type="text"]:placeholder-shown,
.form-group input[type="text"]:placeholder-shown {
	border-bottom-color: #73BCF7; /* Change color when input is empty */
	color: #8A8D90; /* Change text color when input is empty */
	font-size: 0.875rem;
}
    
.form-group input[type="text"],
.form-group input[type="text"] {
	width: 100%;
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    border-bottom-color: #0066cc;
    font: inherit;
    font-size: 0.875rem;
    padding: .25rem 0;
    transition: border-color 0.3s ease;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 1rem; /* Added padding */
}

.radio-group label {
  margin-right: 1rem;
}

.submit-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #0066cc;
  border-radius: 6px;
  color: #FFF;
  border: 0;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-message {
  margin-top: 0;
  width: 100%;
  height: 200px;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.875rem;
}
